*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-blue:rgba(41, 55, 100, 0.884)
}


body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
@mixin sections{
        width: 100%;
        height: 200px;
    
  
}
section{
 

    .hero-container{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 90%;
        background-image: url(graphic/hero.png);
        background-position: 60%;
        object-fit: contain;
        background-repeat: no-repeat;
        background-size: cover;
        .nav-container{
            width: 100%;
            display: flex;
            justify-content: space-around;
            .logo-container{
               
                img{
                    margin-top: 5px;               
                    height: 13px;
                }
            }
            .navigation{
                display: flex;
                justify-content: center;
                align-items: center;
                ul{
                    display: flex;
                    list-style: none;
                    
                 
                    li{
                        font-size: 0.3rem;
                        color: white;
                        margin-right: 10px;
                        border-bottom: 1px solid #000;
                        padding-bottom: 1px;
                        border-color: white;
    
    
                    }
                }
            }
        }
    
      
    }
    .section-gap{
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .logo{
            position: relative;
            display: flex;
            align-items: center;
            img{  
                height: 15px;
                border: 1px solid rgba(180, 180, 180, 0.623);
                border-radius: 50%;
                margin-right: 2px;
             
            }
            .title{
              .losangeles-title{
                font-size: 5px;
                color: rgb(77, 75, 75);
              }
              .mountains-title{
                font-size: 5.8px;

                color: var(--main-blue);
              }
              
            }
        }
        .navigation{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                display: flex;
                list-style: none;
                
             
                li{
                    font-weight: 600;
                    font-size: 0.3rem;
                    color: rgba(41, 55, 100, 0.884);
                    margin-right: 10px;
                    border-bottom: 1px solid #000;
                    padding-bottom: 1px;
                    border-color: var(--main-blue);


                }
            }
        }

    }
}

// History Section
section{
    @include sections;
   
    .history-container{
        
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    .img-container{
        width: 100%;
        height: 100%;
      

     
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }



    .history-description{
        width: 60%;
        height: 29%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 5%;
        overflow: hidden;
        .title{
            width: 30px;         
            position: relative;
            h1{
                font-size: 1.7rem;
                height: 5%;
                color:rgba(89, 101, 139, 0.884) ;
            }
            h2{
                color: var(--main-blue);
                top: 40%;
                left: 105%;
                position: absolute;
                font-size: 0.5rem;
            }
        }
        p{
            margin-left: 15px;
            width: 80%;
            color: #000;
            font-size: 0.5rem;
        }

       
    }
    .photo-container{
        width: 100%;
        background-color: rgba(80, 93, 129, 0.8);
        height: 21%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
       
        img{
            height: 27px;
            margin: 2px;
            object-position: top;
            object-fit: contain;

        }
    }
 
  }     
  
    


}

// CLIMB SECTION
section{
    @include sections;
    .title-container{
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        height: 20%;


        .title{
            display: flex;
            position: relative;
            margin-right: 25px;

            h1{
                font-size: 1.7rem;
                height: 5%;
                color:rgba(89, 101, 139, 0.884) ;
            }
            h2{
                color: var(--main-blue);          
                position: absolute;
                bottom: 10px;
                left: 32px;
                font-size: 0.5rem;
            }
        }
        p{
            font-size: 0.5rem;
        }
    }
    .mountain-container{
        width: 100%;
        height: 8%;
        background-color: var(--main-blue);
        .mountian-switch{
            height: 100%;
            margin-left: 20%;
            display: flex;
            align-items: center;
            .mountain-button{
                font-weight: 600;
                display: flex;
                align-items: center;
                margin-left: 5px;
                height: 100%;
                color: #b9b7b7;
                background-color:inherit;
                outline: none;
                border: none;
                font-size: 6px;
                padding: 0px 5px;
                cursor: pointer;
            }
            .first{
                background-color: #b9b7b7;
                color:var(--main-blue) ;
                text-decoration: underline;
            }

        }


    }
    .climb-container{
        width: 100%;
        height: 77%;
        .shedule-container{
            .title{
                color: var(--main-blue);
                font-size: 0.4rem;
                font-weight: 600;
                margin-bottom: 3px;
            }
            position: absolute;
            top: 13%;
            left: 12%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 4px;

            // width: 100px;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.5);
            .desc{
                display: flex;
                flex-direction: column;
                .info{
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.4rem;
                    .month{
                        margin-right: 5px;
                    }
                }
                .nov-28,
                .dec-18{
                    margin-bottom: 4px;
                }

            }

        }
    .img-container{
        position: relative;
        width: 100%;
        height: 100%;
      
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;


        }
    }


    }

    .footer{
        width: 100%;
        height: 12%;
        background-color: var(--main-blue);
        display: flex;
        align-items: center;
        justify-content: space-around;
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 14px;
                margin-right: 2px;
                
            }
            .brand{
                .losangeles-title{
                    font-size: 6px;
                    color: #5d6796;
      
                  }
                  .mountains-title{
                    font-size: 6.8px;
                    color: #5d6796;
      
                  }
            }
      
            
          }
          .copy-right{
            p{
                font-style: oblique;
                font-size: 0.24rem;
                color: #5d6796;
            }
          }

    }
}

// section height

@media (min-width:425px){
 
    section{
        height: 290px;
        .history-container{
            .photo-container{
                img{
                    height: 45px;
                }
            }
        }
    }
  
   

}

// Tablet

@media (min-width:700px){
    section{
       height: 420px;

       .hero-container{
        .nav-container{
            .logo-container{
                img{
                    height: 20px;
                }
            }
            .navigation{
                ul{
                    li{
                        font-size: 0.6rem;
                    }
                }
            }
        }
       }
       .section-gap{
        .logo{
            img{
                height: 30px ;
            }
            .title{
                .losangeles-title{
                    font-size: 13px;
                }
                .mountains-title{
                    font-size: 15px;
                }
            }
        }
        .navigation{
            ul{
                li{
                    font-weight: 600;
                    font-size: 0.8rem;
                }
            }
        }
       }
    }
    section{
        .history-container{
            .history-description{
                .title{
                    h1{
                        font-size: 3rem;
                    }
                    h2{
                        left: 57px;
                        font-size: 0.9rem;
                    }
                  
                }
                P{
                    font-size: 0.6rem;
                }
            }
            .photo-container{
                img{
                  
                    height: 70px;
                }
            }
        }
    }
    section{
        .title-container{
            .title{
                h1{
                    font-size: 3rem;
                    margin-right: 20px;

                }
                h2{
                    left: 57px;
                    top: 22px;
                    font-size: 0.9rem;
                }
            }
            p{
                font-size: 0.9rem;
            }
        }
        .mountain-container{
            .mountian-switch{
                .mountain-button{
                    font-size: 10px;
                }

            }
        }
        .climb-container{
            .shedule-container{
                height: 120px;
                .title{
                    font-size: 15px;
                }
                .desc{
                    padding: 5px;
                    .info{
                        font-size: 12px;
                    }
                }
            }
        }
        .footer{
            .title{
                img{
                    height: 30px;
                }
                .brand{
                    .losangeles-title{
                        font-size: 13px;
                    }
                    .mountains-title{
                        font-size: 15px;
                    }
                }

            }
            .copy-right{
                p{
                    font-size: 0.6rem;
                }
            }
        }

    }
}

// Descop

@media (min-width:890px){
    section{
       height: 600px;

       .hero-container{
        .nav-container{
            .logo-container{
                img{
                    height: 20px;
                }
            }
            .navigation{
                ul{
                    li{
                        font-size: 0.6rem;
                    }
                }
            }
        }
       }
       .section-gap{
        .logo{
            img{
                height: 30px ;
            }
            .title{
                .losangeles-title{
                    font-size: 13px;
                }
                .mountains-title{
                    font-size: 15px;
                }
            }
        }
        .navigation{
            ul{
                li{
                    font-weight: 600;
                    font-size: 0.8rem;
                }
            }
        }
       }
    }
    section{
        .history-container{
            .history-description{
                .title{
                    h1{
                        font-size: 3rem;
                    }
                    h2{
                        left: 57px;
                        font-size: 0.9rem;
                    }
                  
                }
                P{
                    font-size: 0.6rem;
                }
            }
            .photo-container{
                img{
                  
                    height: 70px;
                }
            }
        }
    }
    section{
        .title-container{
            .title{
                h1{
                    font-size: 3rem;
                    margin-right: 20px;

                }
                h2{
                    left: 57px;
                    top: 22px;
                    font-size: 0.9rem;
                }
            }
            p{
                font-size: 0.9rem;
            }
        }
        .mountain-container{
            .mountian-switch{
                .mountain-button{
                    font-size: 10px;
                }

            }
        }
        .climb-container{
            .shedule-container{
                height: 120px;
                .title{
                    font-size: 15px;
                }
                .desc{
                    padding: 5px;
                    .info{
                        font-size: 12px;
                    }
                }
            }
        }
        .footer{
            .title{
                img{
                    height: 30px;
                }
                .brand{
                    .losangeles-title{
                        font-size: 13px;
                    }
                    .mountains-title{
                        font-size: 15px;
                    }
                }

            }
            .copy-right{
                p{
                    font-size: 0.6rem;
                }
            }
        }

    }
}





 
 // Descop
 
 @media (min-width:890px){
     section{
 
        .hero-container{
         .nav-container{
             .logo-container{
                 img{
                     height: 20px;
                 }
             }
             .navigation{
                 ul{
                     li{
                         font-size: 0.6rem;
                     }
                 }
             }
         }
        }
        .section-gap{
         .logo{
             img{
                 height: 30px ;
             }
             .title{
                 .losangeles-title{
                     font-size: 13px;
                 }
                 .mountains-title{
                     font-size: 15px;
                 }
             }
         }
         .navigation{
             ul{
                 li{
                     font-weight: 600;
                     font-size: 0.8rem;
                 }
             }
         }
        }
     }
     section{
         .history-container{
             .history-description{
                 .title{
                     h1{
                         font-size: 3rem;
                     }
                     h2{
                         left: 57px;
                         font-size: 0.9rem;
                     }
                   
                 }
                 P{
                     font-size: 0.6rem;
                 }
             }
             .photo-container{
                 img{
                   
                     height: 70px;
                 }
             }
         }
     }
     section{
         .title-container{
             .title{
                 h1{
                     font-size: 3rem;
                     margin-right: 20px;
 
                 }
                 h2{
                     left: 57px;
                     top: 22px;
                     font-size: 0.9rem;
                 }
             }
             p{
                 font-size: 0.9rem;
             }
         }
         .mountain-container{
             .mountian-switch{
                 .mountain-button{
                     font-size: 10px;
                 }
 
             }
         }
         .climb-container{
             .shedule-container{
                 height: 120px;
                 .title{
                     font-size: 15px;
                 }
                 .desc{
                     padding: 5px;
                     .info{
                         font-size: 12px;
                     }
                 }
             }
         }
         .footer{
             .title{
                 img{
                     height: 30px;
                 }
                 .brand{
                     .losangeles-title{
                         font-size: 13px;
                     }
                     .mountains-title{
                         font-size: 15px;
                     }
                 }
 
             }
             .copy-right{
                 p{
                     font-size: 0.6rem;
                 }
             }
         }
 
     }
}


@media only screen and (min-width: 1280px){
    section{
        height: 970px;

 
        .hero-container{
         .nav-container{
             .logo-container{
                 img{
                     height: 20px;
                 }
             }
             .navigation{
                 ul{
                     li{
                         font-size: 0.6rem;
                     }
                 }
             }
         }
        }
        .section-gap{
         .logo{
             img{
                 height: 30px ;
             }
             .title{
                 .losangeles-title{
                     font-size: 13px;
                 }
                 .mountains-title{
                     font-size: 15px;
                 }
             }
         }
         .navigation{
             ul{
                 li{
                     font-weight: 600;
                     font-size: 0.8rem;
                 }
             }
         }
        }
     }
     section{
         .history-container{
             .history-description{
                 .title{
                     h1{
                         font-size: 3rem;
                     }
                     h2{
                         left: 57px;
                         font-size: 0.9rem;
                     }
                   
                 }
                 P{
                     font-size: 0.6rem;
                 }
             }
             .photo-container{
                 img{
                   
                     height: 70px;
                 }
             }
         }
     }
     section{
         .title-container{
             .title{
                 h1{
                     font-size: 3rem;
                     margin-right: 20px;
 
                 }
                 h2{
                     left: 57px;
                     top: 22px;
                     font-size: 0.9rem;
                 }
             }
             p{
                 font-size: 0.9rem;
             }
         }
         .mountain-container{
             .mountian-switch{
                 .mountain-button{
                     font-size: 10px;
                 }
 
             }
         }
         .climb-container{
             .shedule-container{
                 height: 120px;
                 .title{
                     font-size: 15px;
                 }
                 .desc{
                     padding: 5px;
                     .info{
                         font-size: 12px;
                     }
                 }
             }
         }
         .footer{
             .title{
                 img{
                     height: 30px;
                 }
                 .brand{
                     .losangeles-title{
                         font-size: 13px;
                     }
                     .mountains-title{
                         font-size: 15px;
                     }
                 }
 
             }
             .copy-right{
                 p{
                     font-size: 0.6rem;
                 }
             }
         }
 
     }
 }